.layout {

    &-2-column {
        display: flex;
        justify-content: space-between;
    }

    &-3-colomn {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-4-colomn {
        padding: 5px;
        display: grid;
        grid-template-rows: repeat(3, 187px);
        grid-template-columns: repeat(4, 216px);
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-height: calc(207px * 3);
        padding: 0;
        margin: 0;
        gap: 20px;
        overflow: hidden;
    }
}