.layout {

    &-2-column {
        display: flex;
        justify-content: space-between;
    }

    &-3-colomn {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-4-colomn {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        grid-auto-flow: row;
        max-height: 620px;
        overflow: hidden;
    }
}