
*,
*:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    text-decoration: none;
}
html {
    font-size: 10px;
}

body {
    margin: 0 auto;
    width: 1020px;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fefefe;     
}

.container {
    margin: 0 auto;
    max-width: 940px;
    position: relative;
}

.header {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.header__logo {
    margin-top: 3px;
}

.header__logo-link {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header__logo span {
    color: #f06c64;
  }

.header__block {
    padding: 27px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__block {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: -0.017rem;
    color: #fff;
    list-style: none;
    text-transform: uppercase;
}


.nav__item {
    margin-left: 30px;
    position: relative;
    font-weight: 400;
}
 .nav .nav__block:first-child {
    margin-left: 0;
}

.nav__item-link:hover {
    color: #f06c64;
    cursor: pointer;
}
.nav__item-link--active {
    color: #f06c64;
}

.nav__item:before {
    content: "";
    background-color: #434759;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -16px;
  }

.nav__item:last-child::before {
      width: 0;
  }

.nav__item--active {
    color: #f06c64;
}

.slider {
    padding-top: 53px;
    padding-bottom: 84px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.slider__item {
    position: relative;
    display: flex;
}

.slider__item-img {
    display: block;
    z-index: 3;
}

.slider__item-vertical {
    margin-left: 72px;
    position: relative;
    z-index: 2;
}
.slider__item-shadow {
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
}

.slider__item-shadow--h {
    transform: scaleY(-1) rotate(90deg);
    filter: FlipV;

}

.slider__item-wallpaper {  
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}

.slider__item-wallpaper--v {
    width: 190px;
    height: 335px;
    top: 64px;
    left: 12px;
    background-image: url(/assets/iphone-wallpaper1.jpg);
    background-position: top -133px left -12px
}

.slider__item-wallpaper--h {
    width: 335px;
    height: 190px;
    top: 133px;
    left: -61px;
    background-image: url(/assets/iphone-wallpaper2.jpg);
    background-position: top -116px left -125px;
    
}

.slider__item-wallpaper__img {
    transform: translate(-2.5%, -22%);
}

.slider__item-horizontal {
    margin-left: auto;
    margin-right: 219px;
    position: relative;
    z-index: 2;
}

.slider__item-img--horizontal {
    display: block;
    transform: rotate(90deg);
}

.slider__arrow {
    position: absolute;
    height: 30px;
    width: 16px;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 50%;
    cursor: pointer;
}

.slider__arrow--left {
    transform: rotate(180deg) scale(1.7) translateY(29%);
}

.slider__arrow--right {  
    transform: scale(1.7) translateY(15%);
    right: 0;
}

.slider__arrow:hover {
    opacity: 1;
    fill: #ebebeb;
}

.services {
    background-color: #f2f2f2;
}

.services__header {
    padding-top: 58px;
    padding-bottom: 40px;
}

.services__item-text {
    max-width: 220px;
}

.services__title {
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
}

.services__desc {
    padding-top: 20px;
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 300;
    color: #767e9e;
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    margin-bottom: 30px;
    width: 33%;
    max-width: 300px;
    max-height: 93px;
    display: flex;
    justify-content: space-between;
}

.services__item-icon {
    margin-top: 8px;
}

.services__item-circle {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #666d89;
}

.services__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services__item-text {

}

.services__item-title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #666d89;
}

.services__item-desc {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #666d89;
}