.about-us {
    padding-top: 60px;
    padding-bottom: 65px;

    text-align: justify;
    
    background-color: $color-light-bg;
    border-bottom: 6px solid #fff;

    &__layout {
        margin-top: 45px;

        @include media-body {
            &>* {
                flex-basis: 32%;
            }
        }
        @include media-tablet {
            &>* {
                flex-basis: 100%;
            }
        }   
    }
}
