.employee {

    &__content {
        width: 300px;
    }

    &__name {
        margin-top: 15px;
    }

    &__photo {
        height: 300px;
    }

    &__descr {
        margin-top: 10px;
        font-size: 1.2rem;
        line-height: 2.2rem;
        color: $color-dark-text;
        font-weight: 400;
    }

    &__socials {
        margin-top: 20px;
    }
}