.employee {

    &__content {
        width: 300px;
    }

    &__name {
        margin-top: 15px;
        max-height: 18px;
        overflow: hidden;
    }

    &__photo {
        height: 300px;

        &:hover {
            opacity: .8;
            transition: all .2s;
        }
    }

    &__descr {
        max-height: 44px;
        margin-top: 10px;
        font-size: 1.2rem;
        line-height: 2.2rem;
        color: $color-dark-text;
        font-weight: 400;
        overflow: hidden;
    }

    &__socials {
        margin-top: 20px;
    }
}