.footer {
    padding: 22px 0 20px;
    background-color: $color-dark-bg;

    &__copyright {
        font-size: 1.2rem;
        line-height: 3rem;
        font-weight: 400;
        color: $color-dark-title;

        @include media-tablet {
            display: none;
        }
    }

    &__socials {
       margin-right: -5px;

       @include media-tablet {
           margin: 0 auto;
       }
    }
}