.header {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100vw;

    &--shadow {
        box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
    }

    @include media-tablet {
        padding: 0 10px;
    }
}

.header__logo {
    margin-top: 3px;
}

.header__logo-link {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header__logo span {
    color: #f06c64;
  }

.header__block {
    padding: 27px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
    position: relative;

    @include media-tablet {
        padding: 16px 0 10px;
    }

    &--resize {
        padding:  0 0 2px;
    }
}