
nav {
    @include media-tablet {
        position: absolute;
        top: 57px;
        left: -100vw;
        z-index: 99;
        width: 65vw;
        height: 100vh;
        background-color: #2d303a;
        -webkit-transition: left 0.3s linear;
        transition: left 0.3s linear;
    }
}

.nav--active {
    left: -40px;
}

.nav--onheader-resize {
    top: 33px;
}

.nav__block {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: -0.017rem;
    color: #fff;
    list-style: none;
    text-transform: uppercase;

    @include media-tablet {
        margin-top: 20vh;
        flex-direction: column;

        &>* {
            
            padding: 1.441vh 0 1.441vh 20vw;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.035em;
        }
    }
}

.nav__item {
    margin-left: 30px;
    position: relative;
    font-weight: 400;

    @include media-tablet {
        margin-left: 0;
        align-self: start;
    }
}

 .nav .nav__block:first-child {
    margin-left: 0;
}

.nav__item-link:hover {
    color: #f06c64;
    cursor: pointer;
}

.nav__item-link--active {
    color: #f06c64;
}

.nav__item:before {
    content: "";
    background-color: #434759;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -16px;

    @include media-tablet {
        display: none;
    }
}

.nav__item:last-child::before {
      width: 0;
}

.nav__item--active {
    color: #f06c64;
}