.slider {
    padding-top: 64px;
    padding-bottom: 80px;
    height: 695px;
    background-color: rgb(240, 108, 100);
    border-bottom: solid 6px #ea676b;
    transition: all .2s ease-out;

    @include media-body {
        padding-top: 0px;
        height: 564px;
        padding-bottom: 10px;
    }

    @include media-tablet {
        padding-top: 57px;
        height: 335px;
    }

    > .container {
        height: 115%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

.slider__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 458px;
    user-select: none;

    @include media-body {
        justify-content: space-around;
    }

    @include media-tablet {
        justify-content: center;
    }
}

.slider__item-2 {
    width: 56.9%;
    margin: 0 auto;

    @include media-body {
        width: 45.9%;
    }
    @include media-tablet {
        width: 200px;
    }
}

.slider__item-img {
    display: block;
    z-index: 3;
    
    cursor: pointer;

    @include media-body {
        width: 162.64px
    }

    @include media-tablet {
        width: 88px;
        height: 190px;
    }
    @include media-slidersmall {
        width: 73px;
        height: 127px;
    }
}

.slider__item-vertical {
    margin-left: 58px;
    position: relative;
    z-index: 2;

    @include media-body {
        margin-left: 0;
    }
    @include media-tablet {
        margin-left: 45px;
    }

    @include media-slidersmall {
        margin-left: 87px;
    }
}
.slider__item-shadow {
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;

    @include media-body {
        width: 182px;
    }
    @include media-tablet {
        width: 100px;
    }
    @include media-slidersmall {
        width: 81px;
        height: 140px;
    }
}

.slider__item-shadow--v {
    @include media-body {
        width: 182px;
    }
    @include media-body {
        width: 88px;
    }

}

.slider__item-shadow--h {
    transform: scaleY(-1) rotate(90deg);
    filter: FlipV;

    @include media-body {
        width: 182px;
    }
    @include media-tablet {
        width: 100px;
    }
    @include media-slidersmall {
        width: 83px;
    }
}

.slider__item-wallpaper {  
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;

    &--blackening {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);

        transition: all .4s linear;
    }
}

.slider__item-wallpaper--v {
    width: 190px;
    height: 335px;
    top: 64px;
    left: 12px;
    background-image: url(assets/iphone-wallpaper1.jpg);
    background-position: top -133px left -12px;

    @include media-body {
        width: 146px;
        height: 271px;
        top: 42px;
        left: 7px;
    }

    @include media-tablet {
        width: 83px;
        height: 158px;
        top: 16px;
        left: 3px;
    }

    @include media-slidersmall {
        width: 65px;
        height: 107px;
    }
}

.slider__item-wallpaper--h {
    width: 100%;
    width: 335px;
    height: auto;
    height: 190px;
    top: 133px;
    left: -61px;
    background-image: url(assets/iphone-wallpaper2.jpg);
    background-position: top -116px left -125px;

    @include media-body {
        width: 300px;
        height: 147px;
        top: 98px;
        left: -70px;
    }
    @include media-tablet {
        width: 161px;
        height: 83px;
        top: 54px;
        left: -40px;
    }
    @include media-slidersmall {
        width: 106px;
        height: 68px;
        top: 30px;
        left: -17px;
    }
}

.slider__item-wallpaper__img {
    transform: translate(-2.5%, -22%);
}

.slider__item-horizontal {
    //margin-left: auto;
    margin-right: 202px;
    position: relative;
    z-index: 2;

    @include media-body {
        margin-left: 73px;
        margin-right: 95px;
        width: initial;
    }

    @include media-tablet {
        margin-right: 104px;
    }
    @include media-slidersmall {
        margin-right: 124px;
        margin-left: 43px;
    }
}

.slider__item-img--horizontal {
    display: block;
    transform: rotate(90deg);
}

.slider__arrow {
    //position: absolute;
    height: 30px;
    width: 16px;
    background-repeat: no-repeat;
    opacity: 0.4;
   // top: 50%;
    cursor: pointer;
    user-select: none;
    
}

.slider__arrow--left {
    transform: rotate(180deg) scale(1.7);
}

.slider__arrow--right {  
    transform: scale(1.7) translateY(45%);
   // right: 0;
}

.slider__arrow:hover {
    opacity: 1;
    fill: #ebebeb;
}

.slide {
    width: 100%;
    position: absolute;
    display: none;
    animation: .5s ease-in-out;
    user-select: none;
}

.slide__2--styles {
    background-color: #648BF0;;
    border-bottom: solid 6px #648BF0;
}

.slide-active {
    display: block;  
}


.slide-hide {
    visibility: hidden;
  }

.slide-next {
    display: block;
}

.slide-to-left {
    animation-name: left;
}

.slide-to-right {
    animation-name: right;
    animation-direction: reverse;
}

.slide-from-left {
    animation-name: left;
    animation-direction: reverse;
}

.slide-from-right {
    animation-name: right;
}

@keyframes left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}