.slider {
    padding-top: 148px;
    padding-bottom: 84px;
    background-color: rgb(240, 108, 100);
    border-bottom: solid 6px #ea676b;
    transition: all .2s ease-out;
}

.slider__item {
    position: relative;
    display: flex;
    max-height: 458px;
    user-select: none;
}

.slider__item-img {
    display: block;
    z-index: 3;
    
    cursor: pointer;
}

.slider__item-vertical {
    margin-left: 72px;
    position: relative;
    z-index: 2;
}
.slider__item-shadow {
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
}

.slider__item-shadow--h {
    transform: scaleY(-1) rotate(90deg);
    filter: FlipV;

}

.slider__item-wallpaper {  
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;

    

    &--blackening {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);


        transition: all .4s linear;
    }
}

.slider__item-wallpaper--v {
    width: 190px;
    height: 335px;
    top: 64px;
    left: 12px;
    background-image: url(assets/iphone-wallpaper1.jpg);
    background-position: top -133px left -12px
}

.slider__item-wallpaper--h {
    width: 100%;
    width: 335px;
    height: auto;
    height: 190px;
    top: 133px;
    left: -61px;
    background-image: url(assets/iphone-wallpaper2.jpg);
    background-position: top -116px left -125px;
    
}

.slider__item-wallpaper__img {
    transform: translate(-2.5%, -22%);
}

.slider__item-horizontal {
    margin-left: auto;
    margin-right: 219px;
    position: relative;
    z-index: 2;
}

.slider__item-img--horizontal {
    display: block;
    transform: rotate(90deg);
}

.slider__arrow {
    position: absolute;
    height: 30px;
    width: 16px;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 50%;
    cursor: pointer;
    user-select: none;
}

.slider__arrow--left {
    transform: rotate(180deg) scale(1.7) translateY(29%);
}

.slider__arrow--right {  
    transform: scale(1.7) translateY(15%);
    right: 0;
}

.slider__arrow:hover {
    opacity: 1;
    fill: #ebebeb;
}

.slide {
    position: relative;
    display: none;
    transition: all .9s linear;
    user-select: none;
}

.slide__2--styles {
    background-color: #648BF0;;
    border-bottom: solid 6px #648BF0;
}

.slide--active {
    display: block;
    
}

.slider__item img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
