.social {
    margin-right: 4px;
    display: inline-block;
    position: relative;
    width: 33px;
    height: 32px;
    border: 1px solid $color-dark-title;
    border-radius: 50%;

    &__facebook {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}