.social {
    margin-right: 4px;
    display: inline-block;
    position: relative;
    width: 33px;
    height: 32px;
    border: 1px solid $color-dark-title;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-out;

    &:hover {
        background-color: #b67909;
    }

    &__object {
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    &-path {
        fill: $color-dark-title;
    }
}

.social-svg {
    cursor: pointer;
}

