.tag {
    margin-right: 7px;
    padding: 3px 6px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: $color-dark-text;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid $color-dark-title;
    cursor: pointer;
    transition: all .2s ease-out;

    @include media-mobile {
        margin-right: 2px;
        padding: 3px 4px;
    }

    &--selected {
        color: $color-light-bg;
        border-color: $color-light-bg;
    }

    &:hover {
        color: $color-light-bg;
        border-color: $color-light-bg;
    }
}