.title {
    font-size: 3rem;
    color: $color-dark-title;
    font-weight: 800;
}
.title__subtitle {
    margin-top: 17px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: $color-dark-text;
    font-weight: 300;
  
}