$color-dark-bg: #2d303a;
$color-light-bg: #f2f2f2;
$color-getQuote-bg: #f06c64;
$color-getQuote-bottom: #ea676b;
$color-input-bg: #d6564f;

$color-dark-title:#666d89;
$color-dark-text: #767e9e;
$color-light-text: #f0d8d9;
$color-input-text: #f48c8f;

$content-width: 940px;
$body-width: 1020px;